html,
body {
	height: 100%;
}

body {
    font: normal 12px Tahoma,Helvetica,arial,sans-serif;
    color: #000;
    background: #f9f9f9;
    width: 100%;
}

.float-right {
	float: right !important;
}

.align-middle {
	vertical-align: middle;
}

.align-center {
	text-align: center;
}

.color-highlight {
	color: #f76120 !important;
}

.navbar .container {
	width: 980px;
}

.navbar .nav>li>a {
	color: #999;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
	color: #08c;
}

.color-link {
	color: #08c !important;
}

.search-box-input {
	float: left;
	width: 450px;
	margin: 0;
	height: 24px !important;
	line-height: 24px !important;
	padding: 5px !important;
	border: 3px solid #2c9ce3 !important;
	border-right-width: 0px !important;
	-webkit-border-radius: 4px 0 0 4px !important;
	-moz-border-radius: 4px 0 0 4px !important;
	border-radius: 4px 0 0 4px !important;
}

.search-box-input-large {
	width: 540px;
}

.search-box-button {
	float: left;
	width: 62px;
	margin: 0;
	padding: 0;
	height: 40px;
	line-height: 40px;
	letter-spacing: 2px;
	border: 0px;
	color: #FFF;
	background: #1c98e6;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #1c98e6 ), to( #1d90d8 )); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #1c98e6 , #1d90d8 ); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #1c98e6 , #1d90d8 ); /* FF3.6 */
    background-image:     -ms-linear-gradient( #1c98e6 , #1d90d8 ); /* IE10 */
    background-image:      -o-linear-gradient( #1c98e6 , #1d90d8 ); /* Opera 11.10+ */
    background-image:         linear-gradient( #1c98e6 , #1d90d8 );
	cursor: pointer;
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}

.search-box-button:hover {
	color: #FFF;
	background: #1d90d8;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #1d90d8 ), to( #1a81c2 )); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #1d90d8 , #1a81c2 ); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #1d90d8 , #1a81c2 ); /* FF3.6 */
    background-image:     -ms-linear-gradient( #1d90d8 , #1a81c2 ); /* IE10 */
    background-image:      -o-linear-gradient( #1d90d8 , #1a81c2 ); /* Opera 11.10+ */
    background-image:         linear-gradient( #1d90d8 , #1a81c2 );
}

.search-nav-bar {
	margin-bottom: 0;
	border-bottom: 0;
}

.search-nav-bar > li {
	width: 64px;
	text-align: center;
}

.search-nav-bar > li > a {
	color: #555;
}

.search-site-bar {
	overflow: auto;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
}

.search-site-bar:after {
	clear: both;
}

.busy-cursor-div {
	margin-top: 20px;
}

.carousel {
	margin-top: 20px;
	margin-left: 240px;
}

.relative-div {
	position: relative;
}

.search-bar-radio-group {
	position: absolute;
	top: 5px;
	left: 200px;
	padding-left: 10px;
}

.ship-radio-group {
	position: absolute;
	top: 40px;
	left: 10px;
}

.search-bar-radio-group .radio {
	color: #555;
	font-size: 12px;
}

.ship-carousel {
	width: 690px;
	padding: 10px;
	border: 1px solid #ddd;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.carousel-img {
	width: 690px;
	height: 400px;
}

.logo-container {
	margin-top: 8px;
}

.site-bar {
	width: 100%;
	height: 40px;
	margin-top: 25px;
	background: #1c98e6;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #33a2e9 ), to( #1c98e6 )); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #33a2e9 , #1c98e6 ); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #33a2e9 , #1c98e6 ); /* FF3.6 */
    background-image:     -ms-linear-gradient( #33a2e9 , #1c98e6 ); /* IE10 */
    background-image:      -o-linear-gradient( #33a2e9 , #1c98e6 ); /* Opera 11.10+ */
    background-image:         linear-gradient( #33a2e9 , #1c98e6 );
}

.site-bar-inner {
	position: absolute;
	top: 0;
	width: 180px;
	height: 40px;
	line-height: 40px;
	color: white;
	cursor: default;
	text-align: center;
	font-size: 14px;
	background: #1d90d8;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #1d90d8 ), to( #1a81c2 )); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #1d90d8 , #1a81c2 ); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #1d90d8 , #1a81c2 ); /* FF3.6 */
    background-image:     -ms-linear-gradient( #1d90d8 , #1a81c2 ); /* IE10 */
    background-image:      -o-linear-gradient( #1d90d8 , #1a81c2 ); /* Opera 11.10+ */
    background-image:         linear-gradient( #1d90d8 , #1a81c2 );
}

.site-bar-nav {
	position: absolute;
	top: 40px;
	width: 177px;
	height: 440px;
	border: 1px solid #2c9ce3;
	border-top: 0;
	overflow: visible;
	background: #FFF;
	line-height: 22px;
	font-size: 12px;
	font-family: '宋体',sans-serif;
	z-index: 1;
	box-shadow: 2px 2px 5px #d9d9d9;
}

.site-bar-nav-inner {
	position: relative;
	padding: 9px 0;
	border-bottom: 1px solid #dfdfdf;
	padding-top: 40px;
	width: 177px;
	height: 60px;
	vertical-align: middle;
}

.site-bar-nav-label {
	display: inline-block;
	padding-left: 20px;
	font-size: 14px;
	font-weight: bold;
	color: #555;
	text-align: center;
}

.site-bar-nav-icon-1,
.site-bar-nav-icon-2,
.site-bar-nav-icon-3,
.site-bar-nav-icon-4 {
	display: inline-block;
	margin-left: 25px;
	width: 30px;
	height: 30px;
	background: url('../img/site-nav-icons.png') no-repeat;
	vertical-align: middle;
}

.site-bar-nav-icon-1 {
	background-position: 0 0;
}

.site-bar-nav-icon-2 {
	background-position: 0 -30px;
}

.site-bar-nav-icon-3 {
	background-position: 0 -60px;
}

.site-bar-nav-icon-4 {
	background-position: 0 -90px;
}

.map-container {
	width: 100%;
	height: 80%;
}

.BMapLib_SearchInfoWindow input {
	padding: 0 !important;
	margin-bottom: 0 !important;
}

.BMapLib_SearchInfoWindow th {
	width: 50px;
	padding: 0 5px;
	text-align: right;
	vertical-align: text-top;
}

.BMapLib_SearchInfoWindow td {
	overflow: hidden;
	padding: 0 5px;
	vertical-align: text-top;
}

.table-container {
	margin-top: 15px;
}

.table-container table {
	border: 1px solid #badcff;
	border-top: transparent;
}

.table-container th {
	border-right: 1px solid #badcff;
	border-color: #badcff;
	color: #333;
	background: #e2f4ff !important;
	text-align: center;
}

.table-container td {
	border-right: 1px solid #badcff;
	border-color: #badcff;
	background: #f0f7ff;
	border-color: #badcff;
	text-align: center;
}

.table-div {
	width:100%;
	position: relative;
	padding-top: 50px;
}

.table-header {
	position: absolute;
	left: 0;
	top: 25px;
	padding: 0 10px 0 15px;
	height: 25px;
	line-height: 25px;
	border: 1px solid #b2d1ff;
	border-bottom: transparent;
	background-color: #e2f4ff;
	color: #0579c6;
	-webkit-border-top-left-radius: 4px;
  	-webkit-border-top-right-radius: 4px;
  	-moz-border-radius-topleft: 4px;
  	-moz-border-radius-topright: 4px;
  	border-top-left-radius: 4px;
  	border-top-right-radius: 4px;
}

.main-wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
}

.footer {
	text-align: center;
	padding: 0;
	border-top: 1px solid #e5e5e5;
	background-color: #f5f5f5;
	height: 20px;
}

.footer-margin {
	margin-top: 60px;
}

.footer-links {
	margin: 15px 0;
}

.footer-links li {
	display: inline;
	padding: 0 2px;
}

.footer-license {
	color: #555;
	margin-right: 100px;
}

.thumbnail-container {
	margin-top: 40px;
}

.thumbnail-div {
	width: 170px;
	padding-top: 10px;
}

.thumbnail-img {
	width: 160px;
	height: 160px;
}

.thumbnail-label {
	padding-left: 10px;
	padding-top: 5px;
	margin-bottom: 0;
	color: #333;
	font-weight: bold;
}

#errorDiv {
	margin-bottom: 0;
	border-bottom: 2px solid #c76e6d;
	font-weight: bold;
}
